@font-face {
    font-family: roboto;
    src: url(roboto-Bold.ttf);
 }

.navbar {
    background-color : rgb(173, 224, 222);
}

.sections {
display: flex;
flex-direction: row;
float:right;
}

.menu-box {
vertical-align: middle;
display: grid;
cursor:pointer;
padding: 10px;
font-family: roboto;
}