@font-face {
    font-family: roboto;
    src: url(roboto-Bold.ttf);
 }

.navbar {
    background-color : rgb(173, 224, 222);
    display: grid;
    grid-template-columns: 25% 45% 10% 10% 10%;
}

.menu-box {
    cursor: pointer;
    padding: 10px;
    font-family: roboto;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}