@font-face {
    font-family: flashlight;
    src: url(flashlight.otf);
}

.logo {
    color: rgb(8, 141, 134);
    padding: 14px;
    font-size: 70px;;
    font-family: flashlight;
    display:flex;
    justify-content: center;
    align-items: center;
}